# This service auto-launches the xsarm_joy.launch file when the computer boots.
# This file should be copied to /lib/systemd/system. Afterwards, type...
# 'sudo systemctl daemon-reload' followed by 'sudo systemctl enable xsarm_rpi4_boot.service'.

[Unit]
Description=Start X-Series Arm Joystick Control

[Service]
ExecStart=/home/pibot/interbotix_ws/src/interbotix_ros_manipulators/interbotix_ros_xsarms/install/rpi4/xsarm_rpi4_launch.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
