<launch>

  <arg name="robot_model_master"                default=""/>
  <arg name="robot_model_puppet"                default=""/>
  <arg name="base_link_master"                  default="base_link"/>
  <arg name="base_link_puppet"                  default="base_link"/>
  <arg name="master_modes"                      default="$(find interbotix_xsarm_puppet)/config/master_modes.yaml"/>
  <arg name="puppet_modes"                      default="$(find interbotix_xsarm_puppet)/config/puppet_modes.yaml"/>
  <arg name="use_puppet_rviz"                   default="true"/>
  <arg name="rvizconfig"                        default="$(find interbotix_xsarm_puppet)/rviz/xsarm_puppet.rviz" />
  <arg name="launch_driver"                     default="true"/>
  <arg name="use_sim"                           default="false"/>

  <arg name="robot_name_master"                 value="master"/>
  <arg name="robot_name_puppet"                 value="puppet"/>

  <include if="$(arg launch_driver)" file="$(find interbotix_xsarm_control)/launch/xsarm_control.launch">
    <arg name="robot_model"                       value="$(arg robot_model_master)"/>
    <arg name="robot_name"                        value="$(arg robot_name_master)"/>
    <arg name="base_link_frame"                   value="$(arg base_link_master)"/>
    <arg name="use_world_frame"                   value="false"/>
    <arg name="use_rviz"                          value="false"/>
    <arg name="mode_configs"                      value="$(arg master_modes)"/>
    <arg name="use_sim"                           value="$(arg use_sim)"/>
  </include>

  <include if="$(arg launch_driver)" file="$(find interbotix_xsarm_control)/launch/xsarm_control.launch">
    <arg name="robot_model"                       value="$(arg robot_model_puppet)"/>
    <arg name="robot_name"                        value="$(arg robot_name_puppet)"/>
    <arg name="base_link_frame"                   value="$(arg base_link_puppet)"/>
    <arg name="use_world_frame"                   value="false"/>
    <arg name="use_rviz"                          value="false"/>
    <arg name="mode_configs"                      value="$(arg puppet_modes)"/>
    <arg name="use_sim"                           value="$(arg use_sim)"/>
  </include>

  <node
    name="xsarm_puppet"
    pkg="interbotix_xsarm_puppet"
    type="xsarm_puppet"
    respawn="false"
    output="screen">
    <param name="robot_name_master"               value="$(arg robot_name_master)"/>
    <param name="robot_name_puppet"               value="$(arg robot_name_puppet)"/>
  </node>

  <node
    name="robot_1_transform_broadcaster"
    pkg="tf2_ros"
    type="static_transform_publisher"
    args="0 -0.25 0 0 0 0 /world /$(arg robot_name_master)/base_link"/>

  <node
    name="robot_2_transform_broadcaster"
    pkg="tf2_ros"
    type="static_transform_publisher"
    args="0 0.25 0 0 0 0 /world /$(arg robot_name_puppet)/base_link"/>

  <node if="$(arg use_puppet_rviz)"
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(arg rvizconfig)"
    required="true"/>

</launch>
