<launch>

  <arg name="robot_model"                       default=""/>
  <arg name="robot_name"                        default="$(arg robot_model)"/>
  <arg name="base_link_frame"                   default="base_link"/>
  <arg name="use_rviz"                          default="true"/>
  <arg name="record"                            default="false"/>
  <arg name="playback"                          default="false"/>
  <arg name="bag_name"                          default="$(arg robot_name)_commands"/>
  <arg name="launch_driver"                     default="true"/>
  <arg name="use_sim"                           default="false"/>

  <arg if="$(arg record)"   name="mode_configs" value="$(find interbotix_xsarm_puppet)/config/record_modes.yaml"/>
  <arg if="$(arg playback)" name="mode_configs" value="$(find interbotix_xsarm_puppet)/config/playback_modes.yaml"/>

  <include if="$(arg launch_driver)" file="$(find interbotix_xsarm_control)/launch/xsarm_control.launch">
    <arg name="robot_model"                       value="$(arg robot_model)"/>
    <arg name="robot_name"                        value="$(arg robot_name)"/>
    <arg name="base_link_frame"                   value="$(arg base_link_frame)"/>
    <arg name="use_rviz"                          value="$(arg use_rviz)"/>
    <arg name="mode_configs"                      value="$(arg mode_configs)"/>
    <arg name="use_sim"                           value="$(arg use_sim)"/>
  </include>

  <group if="$(arg record)">
    <node
      name="xsarm_puppet_single"
      pkg="interbotix_xsarm_puppet"
      type="xsarm_puppet_single"
      respawn="false"
      output="screen"
      ns="$(arg robot_name)">
    </node>

    <node
      name="rosbag_record_commands"
      pkg="rosbag"
      type="record"
      args="record -O $(find interbotix_xsarm_puppet)/bag/$(arg bag_name) /$(arg robot_name)/commands/joint_group /$(arg robot_name)/commands/joint_single"/>
  </group>

  <node if="$(arg playback)"
    name="rosbag_play_commands"
    pkg="rosbag"
    type="play"
    args="-d 3.0 $(find interbotix_xsarm_puppet)/bag/$(arg bag_name).bag"/>

</launch>
