<launch>

  <arg name="robot_name"                        default=""/>
  <arg name="rvizconfig"                        default="$(find interbotix_xsarm_descriptions)/rviz/xsarm_description.rviz" />

  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(arg rvizconfig)"
    ns="$(arg robot_name)"/>

</launch>
