<launch>

  <arg name="robot_model"                       default=""/>
  <arg name="robot_name"                        default="$(arg robot_model)"/>
  <arg name="base_link_frame"                   default="base_link"/>
  <arg name="show_ar_tag"                       default="false"/>
  <arg name="show_gripper_bar"                  default="true"/>
  <arg name="show_gripper_fingers"              default="true"/>
  <arg name="use_world_frame"                   default="true"/>
  <arg name="external_urdf_loc"                 default=""/>
  <arg name="use_rviz"                          default="true"/>
  <arg name="load_gazebo_configs"               default="false"/>
  <arg name="use_joint_pub"                     default="false"/>
  <arg name="use_joint_pub_gui"                 default="false"/>
  <arg name="rate"                              default="10"/>
  <arg name="source_list"                       default="[]"/>
  <arg name="rvizconfig"                        default="$(find interbotix_xsarm_descriptions)/rviz/xsarm_description.rviz" />
  <arg name="model"                             default="$(find interbotix_xsarm_descriptions)/urdf/$(arg robot_model).urdf.xacro
                                                         robot_name:=$(arg robot_name)
                                                         base_link_frame:=$(arg base_link_frame)
                                                         show_ar_tag:=$(arg show_ar_tag)
                                                         show_gripper_bar:=$(arg show_gripper_bar)
                                                         show_gripper_fingers:=$(arg show_gripper_fingers)
                                                         use_world_frame:=$(arg use_world_frame)
                                                         external_urdf_loc:=$(arg external_urdf_loc)
                                                         load_gazebo_configs:=$(arg load_gazebo_configs)"/>

  <param name="$(arg robot_name)/robot_description" command="xacro $(arg model)" />

  <node if="$(arg use_joint_pub)"
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher"
    ns="$(arg robot_name)">
    <param name="rate" value="$(arg rate)"/>
    <rosparam param="source_list" subst_value="True">$(arg source_list)</rosparam>
  </node>

  <node if="$(arg use_joint_pub_gui)"
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui"
    ns="$(arg robot_name)">
  </node>

  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher"
    ns="$(arg robot_name)">
  </node>

  <node if="$(arg use_rviz)"
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(arg rvizconfig)"
    ns="$(arg robot_name)"/>

</launch>
