<launch>

  <arg name="robot_model_1"                     default="wx200"/>
  <arg name="robot_name_1"                      default="arm_1/$(arg robot_model_1)"/>
  <arg name="base_link_1"                       default="base_link"/>
  <arg name="modes_1"                           default="$(find xsarm_dual)/config/modes_1.yaml"/>

  <arg name="robot_model_2"                     default="wx200"/>
  <arg name="robot_name_2"                      default="arm_2/$(arg robot_model_2)"/>
  <arg name="base_link_2"                       default="base_link"/>
  <arg name="modes_2"                           default="$(find xsarm_dual)/config/modes_2.yaml"/>

  <include file="$(find interbotix_xsarm_control)/launch/xsarm_control.launch">
    <arg name="robot_model"                       value="$(arg robot_model_1)"/>
    <arg name="robot_name"                        value="$(are robot_name_1)"/>
    <arg name="base_link_frame"                   value="$(arg base_link_1)"/>
    <arg name="use_world_frame"                   value="false"/>
    <arg name="use_rviz"                          value="false"/>
    <arg name="mode_configs"                      value="$(arg modes_1)"/>
  </include>

  <include file="$(find interbotix_xsarm_control)/launch/xsarm_control.launch">
    <arg name="robot_model"                       value="$(arg robot_model_2)"/>
    <arg name="robot_name"                        value="$(arg robot_name_2)"/>
    <arg name="base_link_frame"                   value="$(arg base_link_2)"/>
    <arg name="use_world_frame"                   value="false"/>
    <arg name="use_rviz"                          value="false"/>
    <arg name="mode_configs"                      value="$(arg modes_2)"/>
  </include>

</launch>
