name: build-xs-rolling

on:
  push:
    branches:
      - rolling
  pull_request:
    branches:
      - rolling
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  xs-rolling:
    strategy:
      matrix:
        env:
          - {ROS_DISTRO: rolling,  ROS_REPO: main}
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout ROS Manipulators
        uses: actions/checkout@v3
      - name: Run Install Script
        run: |
          chmod +x ./interbotix_ros_xsarms/install/amd64/xsarm_amd64_install.sh
          ./interbotix_ros_xsarms/install/amd64/xsarm_amd64_install.sh -n -d rolling
