<launch>

    <!-- Robot 1 Args -->
    <arg name="robot_model_1"                     default=""/>
    <arg name="robot_name_1"                      default="arm_1"/>
    <arg name="base_link_1"                       default="base_link"/>
    <arg name="modes_1"                           default="$(find interbotix_xsarm_dual_joy)/config/modes_1.yaml"/>

    <!-- Robot 2 Args -->
    <arg name="robot_model_2"                     default=""/>
    <arg name="robot_name_2"                      default="arm_2"/>
    <arg name="base_link_2"                       default="base_link"/>
    <arg name="modes_2"                           default="$(find interbotix_xsarm_dual_joy)/config/modes_2.yaml"/>

    <!-- Common Args -->
    <arg name="use_sim"                           default="false"/>
    <arg name="use_rviz"                          default="false"/>
    <arg name="rvizconfig"                        default="$(find interbotix_xsarm_dual_joy)/rviz/xsarm_dual_joy.rviz" />

    <!-- Joy Args -->
    <arg name="threshold"                         default="0.75"/>
    <arg name="controller"                        default="ps4"/>
    <arg name="topic_joy_raw"                     default="/commands/joy_raw"/>

    <!-- Launches two arms using the xsarm_dual pkg -->
    <include file="$(find interbotix_xsarm_dual)/launch/xsarm_dual.launch">
        <arg name="use_sim"                         value="$(arg use_sim)"/>
        <arg name="use_dual_rviz"                   value="$(arg use_rviz)"/>
        <arg name="robot_model_1"                    value="$(arg robot_model_1)"/>
        <arg name="robot_model_2"                    value="$(arg robot_model_2)"/>
        <arg name="robot_name_1"                    value="$(arg robot_name_1)"/>
        <arg name="robot_name_2"                    value="$(arg robot_name_2)"/>
    </include>

    <!-- Launches joystick input node from the xsarm_joy pkg -->
    <node
        pkg="joy"
        type="joy_node"
        name="joy_node"
        output="screen">
        <param name="dev" value="/dev/input/js0" />
        <remap from="joy" to="commands/joy_raw"/>
    </node>

    <!-- Robot 1 Group -->
    <!-- Launches xsarm_robot and xsarm_joy nodes from xsarm_joy pkg for arm 1 -->
    <group>
        <!-- Remaps joystick commands to top-level namespace -->
        <remap from="commands/joy_raw" to="$(arg topic_joy_raw)"/>

        <node
            pkg="interbotix_xsarm_joy"
            type="xsarm_joy"
            name="xsarm_joy"
            output="screen"
            ns="$(arg robot_name_1)">
            <param name="threshold" value="$(arg threshold)"/>
            <param name="controller" value="$(arg controller)"/>
        </node>

        <node
            pkg="interbotix_xsarm_joy"
            type="xsarm_robot"
            name="xsarm_robot"
            output="screen"
            ns="$(arg robot_name_1)">
            <param name="robot_model" value="$(arg robot_model_1)"/>
        </node>
    </group>

    <!-- Robot 2 Group -->
    <!-- Launches xsarm_robot and xsarm_joy nodes from xsarm_joy pkg for arm 2 -->
    <group>
        <!-- Remaps joystick commands to top-level namespace -->
        <remap from="commands/joy_raw" to="$(arg topic_joy_raw)"/>

        <node
            pkg="interbotix_xsarm_joy"
            type="xsarm_joy"
            name="xsarm_joy"
            output="screen"
            ns="$(arg robot_name_2)">
            <param name="threshold" value="$(arg threshold)"/>
            <param name="controller" value="$(arg controller)"/>
        </node>

        <node
            pkg="interbotix_xsarm_joy"
            type="xsarm_robot"
            name="xsarm_robot"
            output="screen"
            ns="$(arg robot_name_2)">
            <param name="robot_model" value="$(arg robot_model_2)"/>
        </node>
    </group>

</launch>
